{% extends "base.html" %}
{% block content %}

<form action="" role="form" method="POST" name="add_task">
	{{form.hidden_tag()}}
	<p>
		<label>Enter the task:</label>
		{{form.label}}
		<input type="submit" value="Add task" class="btn btn-default btn-md">
	</p>
	{% for error in form.errors.label %}
	<span style="color: red;">{{ error }}</span>
	{% endfor %}
</form>
<form>
	<label for="filter-type">Filter By:</label>
	<select name="filter-type" id="filter-type" onchange="this.form.submit()">
		<option value="default" {% if filter =='default' %}selected{% endif %}>Default</option>
		<option value="status-done" {% if filter =='status-done' %}selected{% endif %}>Done</option>
		<option value="status-active" {% if filter =='status-active' %}selected{% endif %}>Active</option>
	</select>
</form>
<form method="POST" action="/delete">
	<div align="right">
		<input class="btn btn-danger" type="submit" value="Delete All Selected Tasks" style="margin-bottom: 10px">
	</div>
	<table id="data" class="table table-striped">
		<thead>
			<tr>
			<th></th>
			<th>Task</th>
			<th>Status</th>
			<th>Priority</th>
		</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
		<tr>
			<td>
				<input class = "form-check-input" type = "checkbox" name = "check_box" value = "{{task.id}}">
			</td>
			<td><p class = "title"><a href="{{ url_for('update_task', id=task.id)}}"> {{task.name}}</a> </p></td>
			<td>{{task.text_status}}</td>
			<td>{{task.priority}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<div align="center">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}" role="alert">{{message}}</div>
				{% endfor %}
			{% endif %}
		{% endwith%}
	</div>
</form>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="form-container">
				<form method="POST" action="/json_import">
					<input type="submit" class="btn btn-default btn-md" value="Import JSON">
				</form>
			</div>
			<div class="form-container">
				<form method="POST" action="/json_export">
					<input type="submit" class="btn btn-primary btn-md" value="Export JSON">
				</form>
			</div>
			<div class="form-container">
				<form method="POST" action="/tsv_import">
					<input type="submit" class="btn btn-default btn-md" value="Import TSV">
				</form>
			</div>
			<div class="form-container">
				<form method="POST" action="/tsv_export">
					<input type="submit" class="btn btn-primary btn-md" value="Export TSV">
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
