{% extends "base.html" %}
{% block content %}

<h1>Todo List</h1>

<form action="" role="form" method="POST" name="add_task">
	{{form.hidden_tag()}}
	<p>
		<h4>Enter a task</h4>
		{{form.label}}
		<input type="submit" value="Send" class="btn btn-default btn-md">

	</p>
	{% for error in form.errors.label %}
	<span style="color: red;">{{ error }}</span>
	{% endfor %}
</form>

<table id="data" class="table table-striped">
	<thead>
		<tr>
		<th></th>
		<th>Task</th>
		<th>Status</th>
		<th>Priority</th>
	</tr>
	</thead>
	<tbody>
		{% for task in tasks %}
	<tr>
		<td>
			<input class = "form-check-input" type = "checkbox" name = "check_box" value = "{{task.id}}">
		</td>
		<td>{{task.name}}</td>
		<td>{{task.text_status}}</td>
		<td>{{task.priority}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
