{% extends "base.html" %}
{% block content %}

<form method="POST" action="/move_positions_tasks">
	<div align="right">
		<input class="btn btn-primary" type="submit" value="Change the priority of selected tasks" style="margin-bottom: 10px">
	</div>
	<table id="data" class="table table-striped">
		<thead>
			<tr>
			<th></th>
			<th>Task</th>
			<th>Status</th>
			<th>Priority</th>
		</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
		<tr>
			<td>
				<input class = "form-check-input" type = "checkbox" name = "check_box" value = "{{task.id}}">
			</td>
			<td>{{task.name}}</td>
			<td>{{task.text_status}}</td>
			<td>{{task.priority}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<div align="center">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}" role="alert">{{message}}</div>
				{% endfor %}
			{% endif %}
		{% endwith%}
	</div>
</form>

{% endblock %}